<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>

    <a href="/signup">If you don't already have an account and want to sign up click here</a> <br>
    
    <p>{{ message }}</p>

    <form action = "http://localhost:5000/loggingIn" method = "POST" 
        enctype = "multipart/form-data">
        <table border = 0>
            <tr>
            <td>Name: </td>
            <td><input type = "text", id= "username", name ="username" > </td>
            </tr>
            <tr>
            <td>Password: </td>
            <td><input type = "password", id= "password", name ="password" > </td>
            </tr>
         </table>
         <br> <br> <br>
         <input type = "submit", value = "Log In"/>
        
    </form>  

</body>
</html>

